* {
  scrollbar-width: auto;
  scrollbar-color: #00d5ff #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #00d5ff;
  border-radius: 10px;
  border: 3px inset white;
}

/* Toast */

.custom-toast-style{
  font-size: 2rem;
  padding: 5rem;
  border: rgb(0, 255, 251) 3px solid;
}

.toast-close {
  margin-left: 2rem !important;
}


.darkened {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.hide {
  display: none !important;
}

html {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Navbar */

nav a {
  text-decoration: none;
}
.navbar-top{
background: rgba(0, 255, 251,0.25);;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
height: 5.5rem;
margin-top: -0.5rem;
}

.nav-cont {
  position: fixed;
  top: 40rem;
  left: 40rem;
  z-index: 100;
}

/* Modal */

.main-modal .modal {
  overflow: hidden !important;
}
.main-modal .modal.fade:not(.in) .modal-dialog {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.main-modal .modal.in .modal-dialog {
  transform: translateX(0);
}

/* Linear gradient background */
.main-modal .modal-content {
  background: linear-gradient(to right, black, rgba(0, 255, 251,1));
  border: none;
  height: 43rem; /* Set height to 100% */
  overflow: hidden;
}

/* Add styling for the close button */
.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  filter: invert(1);
  -webkit-filter: invert(1);
}

/* Modal Content */
.list {
  position: relative;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
  line-height: 3rem;
  font-size: 2rem;
}

.list ul {
  position: relative;
  padding-left: 0 !important;
}

.list h2 {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.list ul {
  position: relative;
}
.list ul a li {
  position: relative;
  left: 0;
  font-weight: 800;
  color: white;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid rgba(0, 255, 251,1);
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 1rem;
}
.list ul a li:hover {
  left: 10px;
}
.list ul a li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul a li:hover span {
  color: black;
}
.list ul a li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, black, rgba(0, 255, 251,1));
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul a li:hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.main-modal .profimg {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
}

.main-modal .modal-header {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

/* Toggle */
.btun {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, black, rgb(3, 142, 139));
  color: white;
  scale: 0.8;
}

.btun:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btun .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btun .text {
  transform: translateX(55px);
}

.btun:hover .icon {
  width: 175px;
}

.btun:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btun:focus {
  outline: none;
}

.btun:active .icon {
  transform: scale(0.85);
}



/*  DO NOT DELETE ABOVE THIS COMMENT  */



/* Profile Card */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
*{
  
  box-sizing:border-box;
  font-family: arial;
}
body{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
  background: url("Images/background.jpg");
}
.containers{
align-items: center;
justify-content: center;
border: 1px solid #000;
height: 43rem;
min-height: 300px;
  width: 90%;
margin: 0;
  margin: 14rem 5rem 9rem;
/* max-width: 1000px; */
padding: 40px;
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(138, 245, 243, 0.25);
  z-index: 10;
backdrop-filter: blur(25px);
  border: 1px solid black;
  scale: 0.9;
  overflow-y: hidden;
}

.containers h4 {
  font-size: 4rem;
  color: aliceblue;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10rem;
}




/* List */

.docinfo {
  width: 95%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(4, 4, 38, 0.6);
  z-index: 10;
  backdrop-filter: blur(25px);
  border: 1px solid rgba(71, 251, 248, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: auto;
  text-align: center;
  color: white;
  height: 35rem;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
}

.docinfo .head{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 4rem;
}

.docinfo .tuple {
  font-size: 1.1rem;
  line-height: 3rem;
}

/* View More button */

.bten {
  font-size: 1.2rem;
  padding: 1rem 1.8rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: black;
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
}

.bten:active {
  scale: 0.92;
}

.bten:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

/* Profile card */
.card-container {
  display: flex;
  width: 100%;
  padding: 1rem;
  height: 30rem;
}

.box {
  flex: 1;
  padding: 1rem;
  height: 40rem;

}

.card-container .box h1 {
  color: aliceblue;
  font-size: 5rem;
  font-weight: 600;
  height: fit-content;
  margin-top: 2rem;
  margin-left: 1rem;
}

.card-container .box h2 {
  color: aliceblue;
  font-size: 3rem;
  font-weight: 600;
  height: fit-content;
  margin-left: 1rem;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
::selection{
  color: #fff;
  background: #1cc7d0;
}
.wrapper{
  height: 40rem;
  width: 80%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.wrapper .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}

.wrapper .front-face, .wrapper .back-face {
  width: 90%;
  height: 90%
}

.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper .back-face .info{
  text-align: center;
}
.back-face .info .title{
  display: block !important;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  margin-top: 1rem;
  text-align: left;
}

.back-face .info .title span {
  width: 3rem;
  padding-top: 8px;
}
.back-face ul{
  display: flex;
}
.back-face ul a{
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  transition: all 0.5s ease;
}

.back-face .fab {
  margin-top: 10px;
}
.back-face ul a:hover{
  color: #1cc7d0;
  border-color: #1cc7d0;
  background: linear-gradient(375deg, transparent, transparent);
}


/* Change form */





.new-mod .modal-dialog {
  max-width: none !important;
  width: 50rem !important;
  margin-top: 3rem !important;
}
.new-mod .modal-content {
  width: 50rem;
}

.new-mod .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  width: fit-content;
  height: fit-content;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  border: 1px solid #396afc;
  background: linear-gradient(to right,#07a3b1,#0a7d95);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 0;
  color: #000; /* Black text */
  overflow: hidden;
}

.name-cont {
  display: flex;
}

.name-cont label, .name-cont .input {
  padding-right: 1rem;
  font-size: 1rem;
  color: #000; /* Black text */
}

.container form .descr {
  font-size: 20px;
  font-weight: 500;
  color: #000; /* Black text */
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.img-next .input {
  margin-bottom: 2rem;
  color: black;
}

.input-img {
  display: flex;
}

.input-img .imgg {
  margin: auto;
}

.input, textarea {
  margin: 1em 0 1em 0;
  width: 200px;
  position: relative;
  padding: 0 1rem 0 0.8rem;
}

.input input, textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #000; /* Black text */
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #000; /* Black text */
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}



.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.form button {
  color: #000; /* Black text */
  font-size: 15px;
  align-self: flex-start;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.form button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
  opacity: 0.2;
}

.form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.custum-file-upload {
  height: 160px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  gap: 20px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px dashed black;
  background-color: linear-gradient(to right, #005c97, #363795);
  padding: 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 48px 35px -48px black;
          box-shadow: 0px 48px 35px -48px black;
}

.custum-file-upload .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: black;
}

.custum-file-upload .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: black;
}

.custum-file-upload input {
  display: none;
}

#qualifications-container {
  margin-top: 20px;
  height: fit-content;
  width: fit-content !important;
}

.qualification-cont {
  padding-top: 3rem !important;
}

.qualification-field {
  display: flex;
  margin-bottom: 10px;
  height: 3rem;
  width: 40rem;
}

.qualification-field input {
  width: 10rem;
  margin-right: 2rem;
}


.qualification-field button {
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  height: 3rem;
  width: 3rem;
}

.qualification-cont .custum-file-upload {
  height: fit-content !important;
}

.add-btn,
.delete-btn {
  margin-left: 5px;
  cursor: pointer;
}

.add-btn{
  margin-left: 2rem;
}

#image-preview-link {
  text-decoration: none;
  color: black;
}

#image-preview-link:hover {
  color: grey;
}

.qualsub {
  position: absolute;
  bottom: -1rem;
  margin: auto;
  width: 5rem;
  height: 3rem;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

.input input::placeholder,
textarea::placeholder {
  color: #424242; /* Darker placeholder color */
}


.contact-modal .modal-content {
  border-radius: 10% !important;
  width: fit-content !important;
  -webkit-border-radius: 10% !important;
  -moz-border-radius: 10% !important;
  -ms-border-radius: 10% !important;
  -o-border-radius: 10% !important;
  background-color: transparent;
}

.buttons{
	display: inline-flex;
	justify-content: left;
	width: 100%;
	float: left;
	padding: 20px;
}

.contact, .download{
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	width: 150px;
    cursor: pointer;
    padding: 15px;
    font-weight: 900;
    color: #000;
    cursor: pointer;
    background: rgba(0, 255, 251,0.3);
    border: 1px solid rgba(0, 255, 251,0.5);
}
.contact:hover, 
.download:hover{
	background: rgba(0, 255, 251,0.8);
}

.containers a {
  text-decoration: none;
}

.bttun {
  display: flex;
  height: 3em;
  width: 150px;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 5px !important;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: rgba(0, 255, 251,0.3);
  border: 1px solid rgba(0, 255, 251,0.5);
  font-weight: 800;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
 
 .bttun > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }
 
 .bttun:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 
 .bttun:hover {
  box-shadow: 9px 9px 33px rgba(0, 255, 251,0.3), -9px -9px 33px rgba(0, 255, 251,0.5);;
  transform: translateY(-2px);
 }

 .qual-modal {
  overflow: hidden;
}

.qual-modal .modal-title {
  color: black;
}

.qual-modal .modal-content {
  background: linear-gradient(to right, black, rgba(0, 255, 251,1));
  border: none;
  height: 43rem; /* Set height to 100% */
  overflow: hidden;
}

.qual-modal .modal-body {
  overflow-y: scroll;
  padding-top: 0 !important;
}

.qual-modal .modal-title {
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 700;
}

.qual-modal h3 {
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 500;
}

.qual-modal p {
  color: aliceblue;
  font-size: 1rem;
}
 
/* Check Box  */

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.hamburger:hover {
  backdrop-filter: brightness(130%);
}

.top {
  margin-bottom: 1.5rem;
}

.doc {
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 3rem;
  align-items: center;
}

.staff {
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 3rem;
  align-items: center;
}

.person-name {
  margin-left: 1rem;
  color: aliceblue;
  font-size: 2rem;
  font-weight: 500;
}

.assignButton {
  margin-top: 1.5rem;
  width: 100%;
}